<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34" />
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestikaTrial"

        tools:targetApi="31">
        <activity
            android:name="com.akirachix.investikaTrial.ui.ResultsActivity"
            android:exported="false" />

        <activity
            android:name="com.akirachix.investikaTrial.ui.AssessmentActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.CorporateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akirachix.investikaTrial.ui.LuckyActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.CoinActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.CdsActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.StockpriceActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.SafaricompriceActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.CongratulationsActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.EarningActivity"
            android:exported="false" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.LivestocksActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>