<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34" />

    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcherpic"
        android:label="@string/investika"
        android:roundIcon="@drawable/launcherpic"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestikaTrial"
        tools:targetApi="31">

        <!-- Main Entry Point -->
        <activity
            android:name="com.akirachix.investikaTrial.ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name="com.akirachix.investikaTrial.ui.RegisterActivity"
            android:exported="true" />

        <!-- Other Activities -->
        <activity android:name="com.akirachix.investikaTrial.ui.SignInActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.InvestmentActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.MarketActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.InvestActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.AchievementActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.ProfileActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.SafeActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.BridgeActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.StepsActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.MedActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.LossActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.FollowupActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.SageActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.DefeatedActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.SafetyActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.WisdomActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.SlayDragonActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.BattleQuizActivity" android:exported="true"/>
        <activity android:name="com.akirachix.investikaTrial.ui.BattleActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.PathDecisionActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.AwardActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.HighRiskPaths" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.DragonActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.ChampionActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.LaunchGameActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.CreateProfileActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.AssessmentActivity" android:exported="true" />
        <activity android:name="com.akirachix.investikaTrial.ui.CorporateActivity" android:exported="true" />

        <!-- Google Ads Configuration -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-com.akirachix.investikatrial" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
