<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- SDK Versions -->
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="34" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InvestikaTrial"
        tools:targetApi="31">

        <!-- Launcher Activity (launchgameActivity) -->
        <activity
            android:name="com.akirachix.investikaTrial.ui.launchgameActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (without launcher intent filter) -->
        <activity
            android:name="com.akirachix.investika.ui.MainActivity"
            android:exported="true" />

        <!-- Additional Activities -->
        <activity
            android:name="com.akirachix.investikaTrial.ui.masterActivity"
            android:exported="true" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.awardActivity"
            android:exported="true" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.championActivity"
            android:exported="true" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.creatprofileActivity"
            android:exported="true" />
        <activity
            android:name="com.akirachix.investikaTrial.ui.RegisterActivity"
        android:exported="true" />

        <!-- Preloaded Fonts Metadata -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>
</manifest>
